.photo-container {
  background: url(../../images/background.jpg) center center / cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  margin-top: -80px;
}

.photo-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: 0px;
}

.photo-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
}

.photo-btns {
  margin-top: 32px;
}

@media screen and (max-width: 960px) {
  .photo-container > h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 768px) {
  .photo-container > h1 {
    font-size: 50px !important ;
  }
  .photo-container > p {
    font-size: 25px;
  }
}
